{% extends "base.html" %}
{% import "macros.html" as nav %}

{% block title %}{{ term.name }}{% endblock title %}

{% block topnav %}
{% set primary_nav = config.extra.primary_nav | default(value=[]) %}
{% set utility_nav = config.extra.utility_nav | default(value=[]) %}
{% set archive_pages = [] %}
<span class="left">
  {% for item in primary_nav %}
  {{ nav::top_link(item=item, current_path=current_path | default(value="")) }}
  {% endfor %}
</span>
{% if utility_nav | length > 0 %}
<span class="right">
  {% for item in utility_nav %}
  <a href="{{ item.href }}">{{ item.text }}</a>
  {% endfor %}
</span>
{% endif %}
{% endblock topnav %}

{% block nav %}
{{ nav::sidebar_for_topnav(items=primary_nav, current_path=current_path | default(value=""), archive_pages=archive_pages) }}
{% endblock nav %}

{% block content %}
<h1>#{{ term.name }}</h1>

{% if term.paginator is defined %}
{% for page in term.paginator.pages %}
<h2>
  <time datetime="{{ page.date }}">{{ page.date }}</time>
</h2>
<p>
  <a href="{{ page.permalink }}">{{ page.title }}</a>
</p>
{% if page.summary %}
<div>{{ page.summary | safe }}</div>
<p>
  <a href="{{ page.permalink }}">more</a>
</p>
{% endif %}
{% endfor %}
{% if term.paginator.previous or term.paginator.next %}
<p>
  {% if term.paginator.previous %}
  <a href="{{ term.paginator.previous }}">previous</a>
  {% endif %}
  {% if term.paginator.previous and term.paginator.next %}
  <span> | </span>
  {% endif %}
  {% if term.paginator.next %}
  <a href="{{ term.paginator.next }}">next</a>
  {% endif %}
</p>
{% endif %}
{% else %}
{% for page in term.pages %}
<h2>
  <time datetime="{{ page.date }}">{{ page.date }}</time>
</h2>
<p>
  <a href="{{ page.permalink }}">{{ page.title }}</a>
</p>
{% if page.summary %}
<div>{{ page.summary | safe }}</div>
<p>
  <a href="{{ page.permalink }}">more</a>
</p>
{% endif %}
{% endfor %}
{% endif %}
{% endblock content %}
